section.special.sect.sect--special
  header.special__header
    h2.sect__title.sect__title--white Today Special
  .special__products
    .container
      .special__carousel
        +product('img/food/plate1.jpg', 'Food Name one', '89.00')
        +product('img/food/plate2.jpg', 'Food Name two', '99.00')
