@import "sass-base/fonts"
@import "sass-base/libs"
@import "sass-base/vars"
@import "sass-base/sprite"
@import "sass-base/btn"
@import "sass-base/mixins"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.85
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
h1, h2, h3, h4, h5, h6
	color: $title-color
	font-family: $accent-font

ul, li
	list-style: none
	margin: 0
	padding: 0
a, a:link, a:visited, a:hover, a:active
	text-decoration: none

.icon
	display: inline-block
	position: relative
	&--cart
		+sprite($s-cart)
	&--plate
		+sprite($s-plate)

.logo
	display: block
	width: 212px
	&__img
		width: 100%
		height: auto

.img-responsive
	display: block
	max-width: 100%
	height: auto
@import "modules/header/header"
@import "sass-base/media" // Всегда в конце
