extends ../layouts/main_layout.pug

block title
  title Main Page

prepend content
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium repudiandae, debitis harum veniam rerum eligendi beatae veritatis odio dolorem i deleniti qui, voluptatibus porro magnam unde quod! Architecto, official.
  +icon('home', 'red_mod')
