.top-banner
  .container
    .top-banner__carousel
      .top-banner__carousel-item
        a(href="#").top-banner__link
          h1.top-banner__title Teast your fav dish
          p.top-banner__subtitle from <span>luxury restaurant.</span>
        img(src="img/food/food2.png", alt="Food1").top-banner__image
      
.actions
  .container
    ul.actions__items
      li.actions__item.actions__item--menu 
        a(href="#") Explore <br> food Menu
      li.actions__item.actions__item--reviews
        a(href="#") <i class="icon icon--reviews"></i> Read <br><span>Reviews</span>
      li.actions__item.actions__item--phone
        a(href="#", data-call="1-008 005 006") <i class="icon icon--phone"></i> Call Us now for<br> <span>Home Delivery</span>
