.top-banner
  .container
    .top-banner__carousel
      .top-banner__carousel-item
        a(href="#").top-banner__link
          h1.top-banner__title Teast your fav dish
          p.top-banner__subtitle from <span>luxury restaurant</span>
        img(src="img/food/food1.png", alt="Food1")
