.menu-types
  text-align: center
  &__item
    display: inline-block
    margin-right: 45px
    &:last-child
      margin-right: 0
  &__link
    display: block
    color: $title-color
    font-family: $accent-font
    font-size: 20px
    .icon
      display: block
      margin: 0 auto 5px
