    $s-arrow-down: 59px 64px -59px -64px 7px 5px 80px 85px 'sprite.png';
    $s-cart: 59px 0px -59px 0px 21px 17px 80px 85px 'sprite.png';
    $s-phone: 0px 48px 0px -48px 37px 37px 80px 85px 'sprite.png';
    $s-plate: 59px 32px -59px -32px 21px 17px 80px 85px 'sprite.png';
    $s-reviews: 0px 0px 0px 0px 44px 33px 80px 85px 'sprite.png';
