    $s-all-acive: 0px 100px 0px -100px 25px 23px 198px 159px 'sprite.png';
    $s-all: 40px 100px -40px -100px 25px 23px 198px 159px 'sprite.png';
    $s-arrow-down: 175px 110px -175px -110px 7px 5px 198px 159px 'sprite.png';
    $s-breakfast-active: 137px 0px -137px 0px 23px 25px 198px 159px 'sprite.png';
    $s-breakfast: 137px 40px -137px -40px 23px 25px 198px 159px 'sprite.png';
    $s-cart: 82px 138px -82px -138px 21px 17px 198px 159px 'sprite.png';
    $s-dinner-special: 175px 39px -175px -39px 23px 24px 198px 159px 'sprite.png';
    $s-dinner: 175px 0px -175px 0px 23px 24px 198px 159px 'sprite.png';
    $s-lunch-active: 0px 138px 0px -138px 26px 21px 198px 159px 'sprite.png';
    $s-lunch: 41px 138px -41px -138px 26px 21px 198px 159px 'sprite.png';
    $s-phone: 0px 48px 0px -48px 37px 37px 198px 159px 'sprite.png';
    $s-pizza-special: 98px 39px -98px -39px 24px 24px 198px 159px 'sprite.png';
    $s-pizza: 98px 0px -98px 0px 24px 24px 198px 159px 'sprite.png';
    $s-plate: 175px 78px -175px -78px 21px 17px 198px 159px 'sprite.png';
    $s-reviews: 0px 0px 0px 0px 44px 33px 198px 159px 'sprite.png';
    $s-snacks-special: 80px 100px -80px -100px 26px 22px 198px 159px 'sprite.png';
    $s-snacks: 121px 100px -121px -100px 26px 22px 198px 159px 'sprite.png';
    $s-soups-special: 59px 39px -59px -39px 24px 24px 198px 159px 'sprite.png';
    $s-soups: 59px 0px -59px 0px 24px 24px 198px 159px 'sprite.png';
